.card4main {
  background-color: chocolate;
    width: 35.77vw;
    height: 90.67vh;
    margin: 7.22vh auto 9.03vh auto;
   
    /* background-color: #ffffff; */
  
    box-shadow: -8px 0px 20px rgba(135, 135, 135, 0.25),
      8px 0px 20px rgba(135, 135, 135, 0.25);
    border-radius: 8px;
  }
  input{
    margin-bottom: 4px;
    width: 10.273792093704246vw;
    height: 3.725321888412017vh;
    font-size: 1.171303074670571vw;
    padding-top: 2.2889842632331905vh;
    padding-bottom: 2.2889842632331905vh;
    padding-right: 1.4033674963396778vw;
    padding-left: 1.3177159590043923vw;
    color: rgba(1, 6, 8, 0.6);
    border: 1px solid rgba(34, 38, 40, 0.4);
    border-radius: 4px;
    transition: 0.2s ease-out;
  }
  .inputbox{
    position: absolute;
    margin-left: 100px;
    margin-top: 50px;
  }
  
  
  .back4 {
   
    margin-left: 8.98vw;
    margin-top: 83.2vh;

    border: 1px solid #0066ee;
    box-sizing: border-box;
    border-radius: 4px;
    background: #ffffff;
   
    font-size: 1.3177159590043923vw;
    width: 12.298682284040996vw;
    height: 6.437768240343348vh;
    color: #0066ee;
  
    transition: 0.3s ease-out;
    
  }
  .back4:hover {
    background-color: #005bd4;
    border: 1px solid #005bd4;
    color: white;
  }
  
  