


  .contest_p {
    margin-left: 30px;
    padding: 20px;
    width: 600px;
  }
 .contest_p > div {
 
  margin-bottom: 30px;
 }
 .title{
  font-size: 30px;
  font-weight: 600;
 }
 .tag {
   margin: 13px 5px 5px 40px; 
 }
  .content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: -8px 0px 20px rgba(214, 211, 211, 0.25),
    8px 0px 20px rgba(199, 196, 196, 0.25);
    border-radius: 8px;
  }
  .content:hover {
    box-shadow: -8px 0px 20px rgba(135, 135, 135, 0.25),
    8px 0px 20px rgba(135, 135, 135, 0.25);
    border-radius: 8px;
  }
  .sec_div {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .first_div {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
  .remove {
    margin-left: 200px;
    border: 1px solid #0066ee;
    box-sizing: border-box;
    border-radius: 4px;
    background: #ffffff;
   
    font-size: 1.3177159590043923vw;
    width: 9.298682284040996vw;
    height: 4.437768240343348vh;
    color: #0066ee;
  
    transition: 0.3s ease-out;
  }
  .remove:hover {
    background-color: #d40700;
    border: 1px solid #7d7f83;
    color: white;
  }